@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600&display=swap");

/* Hello Section */

.helloSectionHome {
  margin: 0;
  background-color: #fff5f5;
  text-align: left;
  padding-left: 30px;
}

.helloSectionRowHome {
  width: 100%;
}

.helloContentHome h1 {
  color: #454545;
  margin-bottom: 48px;
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.3em;
  margin-top: 140px;
}
.helloContentHome p {
  color: #454545;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5em;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 66px;
}

.contactButtonHome {
  padding: 14px 36px;
  color: #fff;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  background-color: #454545;
  border-color: transparent;
}

.bannerPicHome {
  width: 600px;
  height: 624px;
}

.helloImageHome {
  display: inline-block;
}

@media only screen and (max-width: 576px) {
  .helloSectionHome {
    padding-left: 0px;
  }

  .helloContentHome {
    margin-left: 10px;
  }

  .helloContentHome h1 {
    font-size: 40px;
    line-height: 52px;
    display: inline-block;
    margin-top: 40px;
  }

  .helloContentHome p {
    margin-bottom: 30px;
  }

  .bannerPicHome {
    width: 310px;
    height: 323px;
    justify-content: left;
    margin-top: 14px;
    margin-bottom: 40px;
    margin-left: 10px;
  }
}

/* Name Section */

.nameSectionHome {
  background-color: #fff5f5;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
}

.nameSectionHome h2 {
  margin-bottom: 32px;
  font-family: "Vidaloka", serif;
  font-weight: 500;
  font-size: 56px;
  color: #454545;
  letter-spacing: -0.56px;
  line-height: 72.8px;
  overflow-wrap: break-word;
  text-align: center;
}
.introductionHome {
  text-align: center;
}

.introductionHome p {
  color: #454545;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  width: 62%;
  display: inline-block;
}

@media only screen and (max-width: 576px) {
  .nameSectionHome {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  .nameSectionHome h2 {
    font-size: 36px;
    margin-bottom: 12px;
  }

  .introductionHome p {
    width: 100%;
  }
}

/* Services Section */

.servicesSectionHome {
  margin: 0;
  background-color: white;
  display: flex;
}

.servicesImageHome {
  text-align: left;
  display: flex;
}

#servicesImageHome {
  width: 600px;
  height: 624px;
}

.servicesContentHome {
  margin-top: 160px;
  margin-left: 70px;
  text-align: left;
}

.servicesContentHome h1 {
  font-size: 64px;
  color: #454545;
  font-family: "Vidaloka", serif;
  font-weight: 500;
  letter-spacing: -1.92px;
  line-height: 52px;
  margin-bottom: 48px;
  overflow-wrap: break-word;
  text-align: left;
  margin-bottom: 60px;
}

.servicesTextHome {
  padding-bottom: 100px;
  color: #454545;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  overflow-wrap: break-word;
  text-align: left;
  padding-bottom: 80px;
  width: 86%;
}

.servicesButtonHome {
  padding: 14px 36px;
  color: #fff;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  background-color: #454545;
  border-color: transparent;
}

@media only screen and (max-width: 576px) {
  .imageColumnHome {
    display: flex;
    flex-direction: column-reverse;
  }

  .servicesImageHome #servicesImageHome {
    width: 310px;
    height: 323px;
    margin-left: 10px;
    margin-bottom: 40px;
  }

  .servicesContentHome {
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
  }

  .servicesContentHome h1 {
    font-size: 40px;
    color: #454545;
    margin-bottom: 50px;
  }

  .servicesTextHome {
    padding-bottom: 0px;
  }

  .servicesButtonHome {
    margin-bottom: 20px;
  }
}

/* Questions Section */

.questionsSectionHome {
  background-color: #fff5f5;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: auto;
  overflow: auto;
  flex-direction: row;
}

.questionsBoxHome {
  text-align: justify;
  margin-bottom: 100px;
  display: inline-block;
  padding-left: 120px;
  padding-right: 120px;
  width: 40%;
}

.questionsSectionHeadingHome h2 {
  color: #454545;
  font-size: 56px;
  font-family: "Vidaloka", serif;
  font-weight: 500;
  letter-spacing: -0.56px;
  line-height: 72.8px;
  padding-top: 120px;
  padding-bottom: 46px;
  text-align: center;
  overflow-wrap: break-word;
}

.questionsSectionHome h6 {
  color: #454545;
  font-size: 24px;
  font-family: "Vidaloka", serif;
  font-weight: 600;
  text-align: left;
  line-height: 31.2px;
  overflow-wrap: break-word;
}

.questionsSectionHome p {
  color: #454545;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Nunito Sans", sans-serif;
  text-align: left;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 576px) {
  .questionsSectionHome {
    padding-bottom: 40px;
  }

  .questionsSectionHeadingHome h2 {
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .questionsBoxHome {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
  }
}

/* Blog Section */

.blogSectionHome {
  background-color: white;
  text-align: left;
}

.blogContentHome {
  margin-left: 26px;
}

.blogContentHome h1 {
  color: #454545;
  margin-bottom: 60px;
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.3em;
  margin-top: 140px;
}

.blogDescriptionHome {
  color: #454545;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 100px;
  text-align: left;
  width: 80%;
}

.readButtonHome {
  padding: 14px 36px;
  color: #fff;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  background-color: #454545;
  border-color: transparent;
}

.blogImageHome {
  display: inline-block;
}

.blogPicHome {
  width: 600px;
  height: 624px;
}

@media only screen and (max-width: 576px) {
  .blogContentHome {
    margin-left: 10px;
  }

  .blogContentHome h1 {
    color: #454545;
    margin-bottom: 60px;
    font-family: "Vidaloka", serif;
    font-size: 40px;
    line-height: 52px;
    margin-top: 40px;
    margin-bottom: 48px;
    text-align: left;
  }

  .blogDescriptionHome {
    margin-bottom: 20px;
  }

  .blogPicHome {
    width: 310px;
    height: 323px;
    justify-content: left;
    margin-top: 14px;
    margin-bottom: 40px;
    margin-left: 10px;
  }
}

/* Testimonial Section */

.testimonialSectionHome {
  margin: 0;
  background-color: #fff5f5;
  padding-top: 160px;
  padding-bottom: 160px;
  padding-right: 300px;
}

.testimonialImageHome {
  text-align: left;
  margin-left: 250px;
}

#testimonialImageHome {
  width: 288px;
  height: 304px;
}

.testimonialContentHome {
  padding-top: 88px;
  text-align: left;
  display: inline-block;
  width: 82%;
  margin-left: 40px;
}

.testimonialTextHome {
  margin-bottom: 32px;
  line-height: 24px;
  color: #454545;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  overflow-wrap: break-word;
  text-align: left;
}

#testimonialNameHome {
  color: #454545;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

#testimonialPostHome {
  color: #454545;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  font-weight: 400;
}

@media only screen and (max-width: 576px) {
  .testimonialSectionHome {
    padding-top: 60px;
    padding-right: 34px;
    padding-bottom: 100px;
  }

  .testimonialImageHome {
    margin-left: 10px;
  }

  #testimonialImageHome {
    width: 155px;
    height: 163px;
    text-align: left;
    justify-content: left;
  }

  .testimonialContentHome {
    margin-left: 10px;
    margin-right: 14px;
    padding-top: 20px;
    width: 100%;
  }
}
